%p=t('devise.greeting.hello', email: @resource.email)
%p= t('.body')
%p= link_to t('.link'), edit_password_url(@resource, reset_password_token: @token)
%p= t('.did_not_request')
%p= t('.change_timing')